{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Edit Blog</h2>

    <form method="POST" enctype="multipart/form-data" class="card p-4 shadow-sm">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success w-100 mt-3">Update Blog</button>
    </form>

    <a href="{% url 'user_app:user_dashboard' %}" class="btn btn-secondary mt-4">Back to Dashboard</a>
</div>
{% endblock %}
